header {
    width: 1024px;
    height: 768px;
    gap: 0px;
    opacity: 0px;
    background-image: url("cover-image-dark.png");
}

span:after {
    background-color: #FF0070;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    top: 28px;
    left: 986px;
    gap: 0px;
    opacity: 0px;
}